/* CSS Reset */
	* {
		margin: 0;
		padding: 0;
	}
	
	/* Tell the browser to render HTML 5 elements as block */
	header, footer, section, nav, article {
		display: block;
	}	
	
	/* pagewrap, so that we can resize the content */
	#pagewrap {
		margin: 0 auto;
		padding: 0 0;
		width: 960px;
		font-family: Helvetica,arial, serif;
		font-size: 14px;
		line-height: 20px;
		color: #333;
	}
	/* Header */
	#header {
		position: relative;
		height: 160px;
	}

		/* site logo */
		#site-logo {
			float:left;
			position: absolute;
			top: 0px;
		}
		
		#site-logo img {
			float:left;
			width: 9%;
		}
		
		#site-logo a {
			float: left;
			color: black;
			text-decoration: none;
		}
		
		header h1 {
			padding: 40px 0px 0px 0px;
			margin-bottom: 0;
			font-size: 60px;
			line-height: 1;
			letter-spacing: -1px;
			color: inherit;	
		}
	
		header p {
			font-size: 18px;
			font-weight: 200;
			line-height: 30px;
			color: inherit;
		}

	/* Header end */
	/* Navigation */	
	nav {
		width: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		border: 1px solid #8ec1da;
		background-color: #ddeef6;
		border-radius: 4px;
		box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
		-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
		-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
		-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
		color: #3985a8;
		text-shadow: 0 1px #fff;
	}
		nav li {
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			position: relative;
		}
		nav li:first-child {
			margin-left: 0px;
		}
		nav a {
			line-height: 100%;
			font-weight: bold;
			color: #7c7474;
			display: block;
			padding: 14px 15px;
			text-decoration: none;
			
		}
		nav a:hover {
			color: #fff;
			background: rgba(0,0,0,0.25);
			text-shadow: 0 1px #000;
			border: 0px solid #8ec1da;
			background-color: #ddeef6;
			border-radius: 4px;
			box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
			-o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
			-webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
			-moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
			color: #3985a8;
			text-shadow: 0 1px #fff;
		 }
	
	/* Navigation End */
	

	#content {
		/* Some margins */
		margin-top: 10px;
		margin-bottom: 10px;
		/* padding on the side, to allow radius not being overwritten */
		padding-left: 10px;
		padding-right: 10px;
		width: 940px;
		float: left;
		background-color: white;
		/* rounded corner */
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		/* box shadow */
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
		box-shadow: 0 1px 3px rgba(0,0,0,.4);
	}

	h1, h2 {
	
		font-family: 'Arimo', Helvetica,arial, serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 28px;
		line-height: 44px;
	}
	h3 {
		font-size: 18px;
		line-height: 22px;
		padding: 11px 0;
	}
	
	p {
		padding-bottom: 22px;
		font-size: 18px;
		font-weight: 200;
		line-height: 30px;
		color: inherit;
		clear: both;
	}

	/* Intro splash end */
	
	/* Columns */
	
	.col2 {
		position: relative;
		width: 47%;
		float: left;
		background-color: white;
		margin-left: 5px;
	
	}
		.col2 h1 {
			margin-bottom: 0;
			font-size: 60px;
			line-height: 1;
			letter-spacing: -1px;
			color: inherit;
		}
	
		.col2 img {
			
			max-width: 260px;
			height:120px;
			padding: 10px 20px 10px 10px;
			
		}
		
	.col3 {
		position: relative;
		width: 32%;
		float: left;
		background-color: white;
		padding-right: 12px;
	
	}
		.col3 h1 {
			margin-bottom: 0;
			font-size: 60px;
			line-height: 1;
			letter-spacing: -1px;
			color: inherit;
		}
	
		.col3 img {
			
			max-width: 260px;
			height:120px;
			padding: 10px 20px 10px 10px;
			
		}
	/* Forms */
	form {
		margin: 0px auto;
	}
	

		:required {
			border-color: #ab89a5;
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			box-shadow: 0 0 5px rgba(0, 0, 255, .5);
		}
	
		input, select, textarea {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			border:1px solid #ccc;
			font-size:20px;
			width:300px;
			min-height:44px;
			display:block;
			margin-bottom:15px;
			margin-top:5px;
			outline: none;
			
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			-o-border-radius:5px;
			-ms-border-radius:5px;
			border-radius:5px;
		}
		input[type=submit] {
			background: rgba(125,255,135,0.57);
			padding:10px;
			border-color: #88a;
			-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			-ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
			box-shadow: 0 0 5px rgba(0, 0, 255, .5);
		}
		#login input {
			width:303px;
			margin-left:5px;
		}
		#register input {
			width:225px;
			margin-left:5px;
		}
	/* Forms end */

